/Angsa.class
/BerangBerang.class
/BurungCekakak.class
/BurungJulang.class
/ElangBotak.class
/Fossa.class
/HiuGoblin.class
/IkanCupang.class
/IkanKalajengking.class
/IkanSungutGanda.class
/Kiwi.class
/Kungkang.class
/Narwhal.class
/Okapi.class
/Orca.class
/Platypus.class
/SemutPanda.class
/TikusMondokBerhidungBintang.class
/Undan.class
/Yak.class
